#consoleOutput {
    height: auto;
    max-height: 100vh;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}